@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

:root {
  --font-base: 'Montserrat', sans-serif;

  --primary-color: #afce6c;
  --secondary-color: #789735;
  --black-color: #030303;
  --lightGray-color: #ffbf00;
  --gray-color: #3b3b34;
  --brown-color: #393500;
  --white-color: #ffe082;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
